
<div class="text-center mt-5 justify-content-center">
  <div class="row mb-3">
    <h4 class="text-light">Discover Local Businesses</h4>
  </div>
  <div class="form-wrapper">
    <%= form_tag businesses_path, method: :get, class: " d-flex row justify-content-center" do |f| %>
      <div class="col-4">
          <%= text_field_tag :what, params[:what], class: "border form-control p-3", placeholder: "What", id: "what" %>
      </div>
      <div class="col-4">
        <%= text_field_tag :where, params[:where], class: "border form-control p-3", placeholder: "Where", id: "where" %>
      </div>
      <div class="col-2">
        <button type="submit" class="btn p-3" name="commit" value="search"><i class="fas fa-search"></i></button>
      </div>
    <% end %>
  </div>
</div>