
<%= form_tag businesses_path, method: :get, class: "mb-3" do |f| %>
  <div class="d-md-flex justify-content-center">
    <div class="col-auto m-3 shadow-lg rounded-3">
      <label class="visually-hidden" for="what">What</label>
      <%= text_field_tag :what, params[:what], class: "form-control p-4 border rounded-3", placeholder: "What", id: "what" %>
    </div>
    <div class="col-auto m-3 shadow-lg rounded-3">
      <label class="visually-hidden" for="where">Where</label>
      <%= text_field_tag :where, params[:where], class: "form-control p-4 border rounded-3", placeholder: "Where", id: "where" %>
    </div>
    <div class="col-auto m-3 d-grid shadow-lg rounded-3">
      <%= submit_tag "Search", class: "btn btn-primary p-4 btn-search rounded-3" %>
    </div>
  </div>
<% end %>

