@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: Roboto;
}

$yellow: #ffd500;
$mikado-yellow: #ffc300;
$oxford-blue: #001d3d;

.bg-yellow {
  background-color: $yellow;
}

a {
  color: $oxford-blue;
  text-decoration: none;
}

.business-card {
  a {
    color: inherit;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $oxford-blue;
}

.btn-search {
  background-color: $yellow;
  border-color: $yellow;
}

.btn-search:hover {
  background-color: $yellow;
  border-color: $mikado-yellow;
}